.wrap {
    word-break: break-word;
}
.toast-wraper{
    position: absolute;
    top: 15px;
    z-index: 100000000;
    width: 250px;
    max-height: 320px;
    height: 100%;
    right: 20px;
}
  .toast-INFO {
    padding: 15px 20px;
    color: #fff;
    background: rgba(0, 120, 174, 0.82);
    z-index: 10000;
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
.toast-SUCCESS{
    padding: 15px 20px;
    color: #fff;
    z-index: 10000;
    background: rgba(0, 128, 0, 0.59) !important;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.toast-ERROR{
    padding: 15px 20px;
    color: #fff;
    transition: all 0.4s ease-out;
    z-index: 10000;
    background: rgba(37, 37, 37, 0.59) !important;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}