<div class="splash-container">
  <div class="card">
      <div class="card-header text-center"><img class="logo-img" src="assets/images/logo.png" alt="logo"><span class="splash-description">Please enter your user information.</span></div>
      <div class="card-body">
          <form [formGroup]="ForgotForm" (ngSubmit)="ForgotSubmit()">
              <p>Don't worry, we'll send you an email to reset your password.</p>
              <div class="form-group">
                  <input class="form-control form-control-lg" formControlName="useUsernamername" type="email" name="email" required="" placeholder="Enter Your Email/Mobile No" autocomplete="off">
                  <div class="error" *ngIf="ForgotForm.get('Username').hasError('required') && DisplayError">
                    Email/Mobile No. is required.
                  </div>
                </div>
              <!-- <div class="form-group pt-1"><a class="btn btn-block btn-primary btn-xl" href="../index.html">Reset Password</a></div> -->
              <button type="submit"   [disabled]="DisableSubmit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
            </form>
      </div>
      <!-- <div class="card-footer text-center">
          <span>Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span>
      </div> -->
  </div>
</div>