<div class="splash-container">
  <div class="card">
      <div class="card-header text-center"><img class="logo-img" src="assets/images/logo.png" alt="logo"><span class="splash-description">Please enter your user information.</span></div>
      

      <div class="card-body">
        <form [formGroup]="ResetForm" (ngSubmit)="ResetPassword()">
            <p>Change Your Password</p>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" #passwordfield  (keyup)="CheckoldAndNewPassword(passwordfield.value,passwordfield1.value)" id="oldpassword" formControlName="oldpassword"  placeholder="Old Password" value="">
              <span (click)="passwordfield.type=passwordfield.type=='password'?'text':'password'" 
              class="fa fa-fw field-icon toggle-password"
              [ngClass]="(passwordfield.type=='password')?' fa-eye':' fa-eye-slash'"></span>
              <div class="error" *ngIf="ResetForm.get('oldpassword').hasError('required') && DisplayError">
                Old Password is required.
              </div>
              </div>
            <div class="form-group">
                <input class="form-control form-control-lg"  minlength="5" #passwordfield1  type="password"  formControlName="New_Password" id="newpass" 
                 (keyup)="CheckoldAndNewPassword(passwordfield.value,passwordfield1.value);checkMatchpassword(passwordfield1.value,passwordfield2.value);" placeholder="New Password">
                <span (click)="passwordfield1.type=passwordfield1.type=='password'?'text':'password'" 
                         class="fa fa-fw field-icon toggle-password"
                         [ngClass]="(passwordfield1.type=='password')?' fa-eye':' fa-eye-slash'"></span> 
                <div class="error" *ngIf="ResetForm.get('New_Password').hasError('required') && DisplayError">
                  New Password is required.
                </div>
                <div class="error" *ngIf="Isspasswordsame">New password should not be same as old password</div>
                <div class="error" *ngIf="!ResetForm.controls['New_Password'].valid && ResetForm.controls['New_Password'].dirty">
                  New Password should be of 8 to 20 characters only
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" #passwordfield2 id="confirmnewpass" formControlName="confirmnewpass"  placeholder="Confirm New Password" value="">
                <span (click)="passwordfield2.type=passwordfield2.type=='password'?'text':'password'" 
                class="fa fa-fw field-icon toggle-password"
                [ngClass]="(passwordfield2.type=='password')?' fa-eye':' fa-eye-slash'"></span>
                <div class="error" *ngIf="ResetForm.get('confirmnewpass').hasError('notMatch') && ResetForm.controls['confirmnewpass'].dirty">
                      New password and confirm password does not match
                    </div>
                </div>
           
            <button type="submit" [disabled]="DisableSubmit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
          </form>
    </div>
      <!-- <div class="card-footer text-center">
          <span>Don't have an account? <a href="pages-sign-up.html" >Sign Up</a></span>
      </div> -->
  </div>
</div>